@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Noto Sans TC', sans-serif;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    z-index: 2;
    font-weight: bold;
    color: rgb(23, 33, 53);
}



.showcase vidoe{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.text{
    position: relative;
    z-index: auto;
    padding-left: 15%;
    
    
}

.text h1{

    font-size: 7em;
    font-weight: 800;
    line-height: 1.0em;
    text-transform: uppercase;
    
}

.text span {
    color: rgb(0, 140, 255);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color:rgb(23, 33, 53);
}

.text span2{
    color:rgb(23, 33, 53);
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color:rgb(255, 251, 214);
}

.text h2{
    position: absolute;
    font-size: 3.9em;
    bottom: 150px;
    left: 550px;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color:rgb(255, 230, 0);
      
}

.text p{
    color:rgb(255, 251, 214);
    position: absolute;
    font-size: 1.3em;
    right: -530px;
    top: 65%;
}